<div class="chat-container">
  <div class="chat-window">
    <div class="chat-header">
      <img src="/logo.png" alt="Logo" />
      <div style="display: flex; align-items: center; gap: 7px;">
        <fa-icon [icon]="faUser" size="2x"></fa-icon>
        <h2>Chat Support</h2>
      </div>
    </div>

    <div class="chat-body" #chatBody>
      <div *ngIf="isLoading" class="loading">
        Connecting to support...
      </div>
      <div *ngIf="!isLoading" class="messages">
        @if (messages.length > 0) {
        <div *ngFor="let msg of messages" class="message-container" [ngClass]="{
            right: msg.sender === 'customer',
            left: msg.sender === 'agent'
          }">
          <div class="message">
            <span class="message-text">{{ msg?.text?.content }}</span>
            <span class="message-text">{{ msg?.content }}</span>
            <span class="timestamp" *ngIf="msg.timestamp">{{
              msg.timestamp | date : "shortTime"
              }}</span>
          </div>
        </div>
        }@else {
        <div>empty...</div>
        }
      </div>

      <div *ngIf="isTyping" class="typing">Typing...</div>
    </div>

    <div class="chat-input">
      <input [(ngModel)]="message" (keydown.enter)="sendMessage()" (input)="onTyping()"
        placeholder="Type your message here..." [disabled]="isLoading" />
      <button (click)="sendMessage()" [disabled]="!message.trim() || isLoading">
        <fa-icon [icon]="faSend"></fa-icon>
      </button>
    </div>
  </div>
</div>